<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
<link rel="stylesheet" th:href="@{/style5.css}">
</head>
<body>
<h1>WELCOME TO ADD NEW SONG PAGE</h1>
<form action="addSong" method="post">

<lable>Song name</lable>
<input type="text" name="name">
<br>
<lable>Song Artist</lable>
<input type="text" name="artist">
<br>
<lable>Song Genre</lable>
<input type="text" name="genre">
<br>
<lable>Song Link</lable>
<input type="text" name="link">
<br>
<input type="submit" value="Add Song">


</form>

</body>
</html>